body
{
	font-family: Tahoma, sans-serif;
	color: #fff;
	 background: url("login.jpg");
	background-size: cover;
}
.signin
{
	background: rgba(44,62,80,0.7);
	padding:40px;
	width: 250px;
	margin: auto;
	margin-top: 80px;
	height: 400px;
	margin-left: 180px;
	
}
form{
	width: 240px;
	text-align: center;
	
}

input[type=text]
{
	width:240px;
	text-align: center;
	background: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	font-family: 'Play',sans-serif;
	font-size: 16px;
	font-weight: 200px;
	padding: 10px 0;
	transition: border 0.5s;
	outline: none;
	color:#fff;
}
input[type=button]
{
	border: none;
	width:190px;
	background: white;
	color:#000;
	font-size:16px;
	line-height: 25px;
	padding: 10px 0;
	border-radius: 15px;
	cursor:pointer;
	
	
}



















