<!DOCTYPE html>
<html>

<head>

    <title></title>
</head>

<body>
    <h1>update</h1>
    <!-- <form method="post">
        <fieldset>
            <legend>Edit user</legend>
            <table class="center">
                <tr>
                    <td>User name </td>
                    <td>:
                        <%= user.name %>
                    </td>
                </tr>
                <tr>
                    <td>User password </td>
                    <td>:
                        <%= user.password %>
                    </td>
                </tr>
                <tr>
                    <td>User Email </td>
                    <td>:
                        <%= user.email %>
                    </td>
                </tr>
                <tr>
                    <td>user Type </td>
                    <td>:
                        <%= user.type %>
                    </td>
                </tr>

                <td><button type="submit" value="Update">Update</button></td>
                </tr>
            </table>

        </fieldset>
    </form> -->

</body>

</html>