


<html>
    <head></head>
<body style="background-color:#F3DE0C;">

<h3>

  <a href="/tutor">Back</a>|
  <a href="/logout">Logout</a>
</h3>

<h1>Write Your Content Here</h1>

<form method="post" >



Name: <input type="text" value="<%= username %>" readonly name="username">
  <br>
<br>
 Name: <textarea rows="2" cols="150" name="name" ></textarea><br><br>
<textarea rows="30" cols="170" name="article"  >
Enter text here...</textarea>

<p></p>
<input type="submit" name="blog" value="submit">
</form>
</body>
</html>
