


<html>
    <head></head>
<body>

<h1>Write Your Content Here</h1>

<form method="post" >
  
  

Name: <input type="text" value="<%= username %>" readonly name="author">
  <br>
<br>
Article Name: <textarea rows="2" cols="150" name="articlename" ></textarea><br><br>
<textarea rows="30" cols="170" name="article"  >
Enter text here...</textarea>

<p></p>
<input type="submit" name="blog" value="submit">
</form>
</body>
</html>